*.pyc
listoutput.txt
FCfile.csv
YGOfile1.csv
YGO SET.txt
Numbers1.csv
*.txt
TEST.csv
FOW111.html
gtsimages.html
YGO IMAGES.csv
ygo.html
TNT.csv
*.csv
J-POKEMON/2009 Japanese Pokemon Movie Anniversary/2009pokemonmoviepackbox.jpg
*.jpg
*.gif
J-POKEMON/Japanese Intense Fight in the Destroyed Sky/japaneseintensefightpack.png
*.png
CC_linkscrape.py
J-POKEMON.zip